In [ ]:
# ðŸ§¾ Pandas DataFrame Basics

# A **DataFrame** is a two-dimensional labeled data structure in Pandas.  
# Itâ€™s like a table in SQL, an Excel sheet, or a dictionary of Series objects.

# Each column can have a different data type.

In [ ]:
import pandas as pd

# Create a DataFrame from a dictionary
data = {
    "Name": ["Alice", "Bob", "Charlie"],
    "Age": [25, 30, 35],
    "City": ["New York", "London", "Paris"]
}

df = pd.DataFrame(data)
print(df)

# You can access columns and rows using `.column`, `[]`, `.loc[]`, and `.iloc[]`.

      Name  Age      City
0    Alice   25  New York
1      Bob   30    London
2  Charlie   35     Paris

In [3]:
# Access a column
print(df["Name"])
print(df.Age)

0      Alice
1        Bob
2    Charlie
Name: Name, dtype: object
0    25
1    30
2    35
Name: Age, dtype: int64

In [4]:

# Access a row by index (position)
print(df.iloc[0])

# Access a row by label (index)
print(df.loc[0])

Name       Alice
Age           25
City    New York
Name: 0, dtype: object
Name       Alice
Age           25
City    New York
Name: 0, dtype: object

In [6]:
# Single cell access
print(df.loc[1, "City"])  # Output: London

# Useful attributes and methods:
# - `df.shape` â†’ (rows, columns)
# - `df.info()` â†’ structure & types
# - `df.describe()` â†’ summary stats for numeric columns

London

In [7]:

print("Shape:", df.shape)
print("\nInfo:")
print(df.info())

print("\nDescription:")
print(df.describe())

# âœ… DataFrame = 2D labeled table  
# âœ… You can slice, index, filter, and analyze tabular data  
# âœ… Next up: Reading external data like CSV and Excel files

Shape: (3, 3)

Info:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3 entries, 0 to 2
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Name    3 non-null      object
 1   Age     3 non-null      int64
 2   City    3 non-null      object
dtypes: int64(1), object(2)
memory usage: 200.0+ bytes
None

Description:
        Age
count   3.0
mean   30.0
std     5.0
min    25.0
25%    27.5
50%    30.0
75%    32.5
max    35.0