In [ ]:
# ðŸ§¾ Reading JSON Files with Pandas

# JSON (JavaScript Object Notation) is a common data format for APIs and web data.  
# Pandas can easily read JSON files using `pd.read_json()`.

# This notebook demonstrates how to load JSON data into a DataFrame.

In [9]:

import pandas as pd

# Read from json file
df = pd.read_json('data.json')
df

   id     name  age      city
0   1    Alice   25  New York
1   2      Bob   30    London
2   3  Charlie   35     Paris

In [ ]:
import json

# open aÃ§

with open("nested_data.json") as f:
    data = json.load(f)  # âœ… JSON â†’ Python dict/list

# Then normalize it
df_flat = pd.json_normalize(data)

df_flat.head()
df_flat

# âœ… Use `pd.read_json()` to read JSON files or strings  
# âœ… JSON must be properly formatted (array of objects)  
# âœ… Use `json_normalize()` for nested structures  
# âœ… Next up: Indexing and Slicing

   id   name      contact.email contact.phone
0   1  Alice  alice@example.com       123-456