In [ ]:
# üìä Analyzing Pandas DataFrames

# Once you've loaded your data into a DataFrame, you can start analyzing it using built-in Pandas methods.

# This notebook shows how to quickly explore and summarize a DataFrame.

In [2]:
import pandas as pd

# Read from json file
data = pd.read_json('analyzing_data.json')
df = pd.DataFrame(data)
df

## üîç Quick Overview Methods

# - `df.head()` ‚Üí First rows  
# - `df.tail()` ‚Üí Last rows  
# - `df.shape` ‚Üí (rows, columns)  
# - `df.columns` ‚Üí Column names  
# - `df.dtypes` ‚Üí Data types  
# - `df.info()` ‚Üí Full summary

      Name  Age  Salary Department
0    Alice   25   50000         HR
1      Bob   30   60000         IT
2  Charlie   35   65000    Finance
3    David   40   70000         IT
4      Eva   28   62000         HR

In [3]:
print(df.head())
print(df.shape)
print(df.columns)
print(df.dtypes)
df.info()

      Name  Age  Salary Department
0    Alice   25   50000         HR
1      Bob   30   60000         IT
2  Charlie   35   65000    Finance
3    David   40   70000         IT
4      Eva   28   62000         HR
(5, 4)
Index(['Name', 'Age', 'Salary', 'Department'], dtype='object')
Name          object
Age            int64
Salary         int64
Department    object
dtype: object
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5 entries, 0 to 4
Data columns (total 4 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Name        5 non-null      object
 1   Age         5 non-null      int64
 2   Salary      5 non-null      int64
 3   Department  5 non-null      object
dtypes: int64(2), object(2)
memory usage: 288.0+ bytes

In [4]:
## üìà Statistical Summary

# Use `df.describe()` to get a statistical summary of numerical columns.
df.describe()

            Age        Salary
count   5.00000      5.000000
mean   31.60000  61400.000000
std     5.94138   7402.702209
min    25.00000  50000.000000
25%    28.00000  60000.000000
50%    30.00000  62000.000000
75%    35.00000  65000.000000
max    40.00000  70000.000000

In [5]:
## üìä Analyzing Categorical Data

# Use `value_counts()` to see the distribution of categories.

df["Department"].value_counts()

Department
HR         2
IT         2
Finance    1
Name: count, dtype: int64

In [6]:
## ‚ûï Basic Aggregation

# You can compute:

# - Mean ‚Üí `df["Age"].mean()`  
# - Max ‚Üí `df["Salary"].max()`  
# - Min ‚Üí `df["Salary"].min()`  
# - Median ‚Üí `df["Age"].median()`  

print("Average Age:", df["Age"].mean())
print("Highest Salary:", df["Salary"].max())
print("Youngest Age:", df["Age"].min())

Average Age: 31.6
Highest Salary: 70000
Youngest Age: 25