In [ ]:
# ðŸ“¤ Exporting Data in Pandas

# After cleaning or analyzing your data,  
# you can export it to different formats using Pandas.

# Common formats:
# - CSV (`to_csv`)
# - Excel (`to_excel`)
# - JSON (`to_json`)

In [1]:
import pandas as pd

data = {
    "Name": ["Alice", "Bob", "Charlie"],
    "Age": [25, 30, 35],
    "Salary": [50000, 60000, 70000]
}

df = pd.DataFrame(data)
df

      Name  Age  Salary
0    Alice   25   50000
1      Bob   30   60000
2  Charlie   35   70000

In [2]:
## ðŸ“„ Export to CSV File

df.to_csv("employees.csv", index=False)

In [3]:
## ðŸ“Š Export to Excel File

df.to_excel("employees.xlsx", index=False)

In [4]:
## ðŸ§¾ Export to JSON File

df.to_json("employees.json", orient="records", indent=2)

In [5]:
## ðŸ“‹ Export to Clipboard (for copy-paste into Excel or email)

df.to_clipboard(index=False)

In [ ]:
# âœ… Use `to_csv()` for plain text exports  
# âœ… Use `to_excel()` for spreadsheets  
# âœ… Use `to_json()` for web-compatible formats  
# âœ… Use `to_clipboard()` for quick sharing